<div class="p-2 p-md-3">
    <div class="row mx-0">
        <div class="col-12 col-md-6">
            <div class="card" [busy]="loadingUserInformation">
                <div class="card-header">
                    <span class="card-title">User information</span>
                </div>
                <div class="card-body">
                    <form [formGroup]="userInformationForm">
                        <div class="row mx-0">
                            <div class="col-12 col-md-6 mb-3">
                                <div>Name</div>
                                <input formControlName="name" type="text" class="form-control w-100">
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div>Surname</div>
                                <input formControlName="surname" type="text" class="form-control w-100">
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div>Email address</div>
                                <input formControlName="email" type="email" class="form-control w-100">
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div>Username</div>
                                <input formControlName="username" type="text" class="form-control w-100">
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary d-flex align-items-center justify-content-center mr-2"
                                (click)="editUserInformation()">
                            <i class="fas fa-edit mr-2"></i>Update profile
                        </button>
                        <button class="btn btn-secondary d-flex align-items-center justify-content-center"
                                (click)="cancelUserInformation()">
                            <i class="fas fa-close mr-2"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card" [busy]="loadingUserPassword">
                <div class="card-header">
                    <span class="card-title">Security</span>
                </div>
                <div class="card-body">
                    <form [formGroup]="userPasswordForm">
                        <div class="row mx-0">
                            <div class="col-12 col-md-6 mb-3">
                                <div>Old password</div>
                                <input formControlName="oldPassword" type="password" class="form-control w-100">
                            </div>
                            <div class="d-none d-md-block col-6 mb-3"></div>
                            <div class="col-12 col-md-6 mb-3">
                                <div>New password</div>
                                <input formControlName="newPassword" type="password" class="form-control w-100">
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <div>New password confirm</div>
                                <input formControlName="newPasswordConfirm" type="password" class="form-control w-100">
                            </div>

                        </div>
                    </form>
                    <hr>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-primary d-flex align-items-center justify-content-center mr-2"
                                (click)="changePassword()">
                            <i class="fas fa-lock mr-2"></i>Change password
                        </button>
                        <button class="btn btn-secondary d-flex align-items-center justify-content-center"
                                (click)="cancelChangePassword()">
                            <i class="fas fa-close mr-2"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex aic justify-content-center">
        <button class="btn btn-danger mt-4 d-flex align-items-center justify-content-center w-50" (click)="logout()">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
        </button>
    </div>
</div>
