<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ "About" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">About me</span>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <app-item-two-lines title="Name" value="Jose A. Lopez Arencibia"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Email address"
                                                value="jlopezarencibia@gmail.com"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Phone" value="+1 (786) 819-9349"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Skype" value="live:jlopezarencibia"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Twitter" value="@jlopezarencibia"></app-item-two-lines>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <app-item-two-lines title="Current position"
                                                value="Full stack developer"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="At" value="ISU Corp"></app-item-two-lines>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">About project</span>
                    </div>
                    <div class="card-body">
                        <p>
                            This project has been build on top of the starter project of
                            <a href="https://aspnetboilerplate.com" target="_blank">Asp Net Boilerplate</a>
                            . This is part of a test and it can also be easily modified to add new changes to it.
                        </p>
                        <hr>
                        <div class="mb-3">
                            <app-item-two-lines title="Front-end" value="Angular 15"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Back-end"
                                                value="ASPNet Core (.Net Core 7)"></app-item-two-lines>
                        </div>
                        <div class="mb-3">
                            <app-item-two-lines title="Framework" value="ABP (AspBoilerplate)"></app-item-two-lines>
                        </div>
                        <hr>
                        <p>
                            Support for multiple languages was not added due to short time deadline. But is easily
                            configurable just takes some time to write all labels in all languages.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
